<header>
    <div class="container">
        <a href="#" class="logo">CoolApps</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a href="#" [routerLink]="['/list']" routerLinkActive="active">List</a>
                </li>
            </ul>
        </nav>
    </div>
</header>