<h1 [@visibility]>list works!</h1>

<ng-template #errorSection>
    <p *ngIf="errorMessage" class="error">
        {{errorMessage}}
    </p>
</ng-template>

<ul *ngIf="beers; else errorSection" class="beetList">
    <li *ngFor="let beer of beers" [@expand] [@flyInOut]>
        <p class="name">{{ beer.name}} </p>
        <p class="country">{{ beer.country}} </p>
        <p class="country"><a href="{{ beer.website_url}}"> Site </a> </p>
        <a href="#"> List Detail </a>
    </li>
</ul>


