ul.beetList{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

ul.beetList li{
    padding: 1em;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}
ul.beetList li p{ margin: 0 };

p.name{
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

p.country{
    margin: 0;
    font-size: 0.7rem;
    text-transform: uppercase;
    flex-grow: 1;
}

.error{
    margin: 0px auto;
    padding: 1em 2em;
    background-color: red;
    font-size: 0.8em;
    color: yellowgreen;
}