/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0px;
}

header, footer{
    background-color: rgb(128, 31, 31);
    padding: 1em 0;
    color: #fff;
}

header a, footer a{
    color: #fff;
}
header a.logo{
    font-weight: bold;
}

nav{
    float: right;
}

nav ul{
    list-style-type: none;
    margin: 0;
    display: flex;
}

nav ul li a{
    padding: 1em;
}


.highlight {
    background-color: rgb(27, 40, 156) !important ;
    z-index: 1;
    color: #fff;
    transform: scale(1.01);
}
.highlight a{
    color: #fff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
