.play-container{
    border: 1px solid #ccc;
    padding: 2em;
    margin: 0px auto;
}
span{
    font-weight: bold;
    padding: .1em .2em;
    cursor: pointer;
}

input{
    padding: 1em;
    margin-bottom: 2em;
}

.active{
    background-color : yellow;
    border : 2px solid #000;
}

.noactive{
    background-color: lightgray;
    border: 1px solid yellow;
}

