<h1>Welcome!</h1>

<div class="play-container">
    <p>You clicked <span (click)="countClick()">this</span> {{ clickCounter }} times</p>
    <p>Reset <span (click)="resetClick()">Counter</span></p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name"><br/>

        <strong>You said: </strong>{{ name }}
    </p>
</div>

<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p> You Counter is <strong>GREATER THAN</strong> 4</p>
    </ng-template>

    <ng-template #none>
        <p> You Counter is <strong>NOT GREATER THAN</strong> 4</p>
    </ng-template>
</div>
